/*.menu:hover{
	background-color: #3CA034;

}*/
/*div{
	border: 1px solid red;
}*/
.menu a{
	color: black !important;
	margin-top: 10px;
}

.menu a:hover{
	background-color: #B4E205 !important;
	border-radius: 5px;
	color: black !important;
}
#navvy{
border-color: white; 
}
#navbar{
	background-color: white;
	color: black;
}
#nav{
	min-height: 500px;
	color: black;
}
.box{
	background-color: white !important;
	border-radius: 5px;
	color: black;
	font-weight: lighter;
	height: 150px;
}
.box h5{
	font-size: 18px;
	padding-top: 10px;
	text-decoration: underline;
}
.box p{
	font-weight: bold;
	color: black;
	font-size: 18px;
}

 h6 a{
	font-size: 15px;
	cursor: pointer;
	color: #3CA034;
	text-decoration: none;
}